<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Horizon</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="no-margin">
  <ion-list>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-md-6 col-lg-6 col-xl-6 *ngFor="let article of articles" (tap)="clicked()">
            <ion-card class="no-padding" (tap)="clic(article)">
              <ion-row>
                <ion-col>
                    <ion-card-content class="item item-text-wrap">
                        <p id="titre_article"><b>  {{ article.Titre }}</b></p>
                        <span>{{ article.PublishDate }} - {{ article.Categorie }}</span>
                        <ion-row justify-content-center>
                          <ion-col justify-content-center id="image" col-12 class="no-padding">
                            <img [src]="article.Image" alt="Pas d'image pour cet article" />
                          </ion-col>
                        </ion-row>
                        <p> {{ article.Description }} </p>
                        <p> {{ article.Source }}</p>
                    </ion-card-content>
            </ion-col>
            </ion-row>
                  <ion-col class="no-padding-right">
                    <button ion-button icon-only class="no-margin-right" *ngIf="!isLiked(article.Id)" (click)="like(article.Link, article.Id)">
                      <ion-icon name="thumbs-up"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col no-padding >
                    <button ion-button class="no-margin-right" icon-only *ngIf="isLiked(article.Id)" outline color="danger"style="color: red; font-size: 15px;">
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col no-padding>
                    <button ion-button icon-only class="no-margin-right" (click)="dislike(article.Id)">
                        <ion-icon name="chatbubbles"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col no-padding>
                    <button ion-button icon-only class="no-margin-right" (click)="share(article.Link)">
                      <ion-icon name="share"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col no-padding>
                    <button  ion-button icon-only class="no-margin-right" (click)="readComments(article.Id)" outline color="secondary"  style="padding: 0 5px 0 5px">
                      commentaires
                    </button>
                  </ion-col>
            </ion-card>
          </ion-col>
          </ion-row>
    </ion-grid>
  </ion-list>
  <div class="marginAuto">page {{ (limit / 10) + 1 }}</div>
  <div class="marginAuto"><button ion-button round (click)="getPast()"><<<<</button><button ion-button round (click)="getNext()">>>>></button></div>
  
</ion-content>
