page-home {

    @import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);

    #bodyGuard {
        background: linear-gradient(to bottom left , #6a1b9a , #9c4dcc);
    }

    #WelcomeMessage{
        color: white;
        font-weight: bold;
        font-family: 'Montserrat Alternates';
		position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
	
	ion-title{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
	
	#bouton{
      top: 0;
      left: 0;
      margin: 0% 0% 0%;
	  padding: 0% 5% 0%;
      text-align: center;
    }

    #IconDiv{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 15% 0% 10%;
      text-align: center;
    }
}
