page-home {

    @import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);

    #bodyGuard {
        background: linear-gradient(to bottom left , #6a1b9a , #9c4dcc);
    }

    #WelcomeMessage{
        color: white;
        font-weight: bold;
        font-family: 'Montserrat Alternates';
        margin-top: 10vh;
        display: block;
        text-align: center;
    }

    button{
        position:absolute;
        top: 15vh;
        background-color: #38006b;
    }

    #IconDiv{
        width: 100%;
    }

    #Icon{
      margin-top: 30%;  
      display: block;
      margin-left: auto;
      margin-right: auto;        
    }
}
