page-home {

    #bodyGuard {
        background: linear-gradient(to bottom left , rgb(0, 225, 255) , rgb(255, 255, 255));
    }

    #WelcomeMessage{
        margin-top: 10vh;
        display: block;
        text-align: center;
    }

    button{
        position:absolute;
        top: 15vh;
    }

    #IconDiv{
        width: 100%;
    }

    #Icon{
      margin-top: 30%;  
      display: block;
      margin-left: auto;
      margin-right: auto;        
    }
}
