page-home {
    #WelcomeMessage{
        margin-top: 10vh;
        display: block;
        text-align: center;
    }

    button{
        position:absolute;
        top: 15vh;
    }

    #IconDiv{
        width: 100%;
    }

    #Icon{
      margin-top: 30%;  
      display: block;
      margin-left: auto;
      margin-right: auto;        
    }
}
